<style>
    #total-donor{
        background-color: hsl(180, 77%, 49%);
    }

    #total-recipient{
        background-color: #a9a9a9;
    }

    #total-volunteer{
        background-color: #8fbc8f;
    }
</style>


<div class="row" style="margin-top: 20px;">
    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white mb-3" id="total-donor">
                <div class="card-header">
                    <h5 class="card-title">Organ Donor</h5>
                </div>
                <div class="card-body">{{organ}}</div>
            </div>
        </div>    
    </div> 

    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white mb-3" id="total-recipient">
                <div class="card-header">
                    <h5 class="card-title">Organ Recipient</h5>
                </div>
                <div class="card-body">{{recipient}}</div>
            </div>
        </div>    
    </div>
    
    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white mb-3" id="total-volunteer">
                <div class="card-header">
                    <h5 class="card-title">Total Volunteer</h5>
                </div>
                <div class="card-body">{{volunteer}}</div>
            </div>
        </div>    
    </div>

</div> 


<div class="row" style="margin-top: 20px;">
    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white mb-3" id="total-donor">
                <div class="card-header">
                    <h5 class="card-title">Awareness Program</h5>
                </div>
                <div class="card-body">3</div>
            </div>
        </div>    
    </div> 

    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white mb-3" id="total-recipient">
                <div class="card-header">
                    <h5 class="card-title">Amount Donate</h5>
                </div>
                <div class="card-body">1000</div>
            </div>
        </div>    
    </div>
    
    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white mb-3" id="total-volunteer">
                <div class="card-header">
                    <h5 class="card-title">Blood Donor</h5>
                </div>
                <div class="card-body">{{blood}}</div>
            </div>
        </div>    
    </div>

</div> 